.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color);
  padding: 0 8rem;
  color: white;
}

.logo {
  display: flex;
  gap: 20px;
  font-weight: 600;
}

.nav ul {
  display: flex;
  align-items: center;
}

.nav li {
  margin-left: 3rem;
}

.nav button {
  font: inherit;
  background: #0dd6dd;
  border: 1px solid #066d70;
  padding: 0.5rem 1.5rem;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
}

.nav button:hover,
.nav button:active {
  color: #0649a0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
}
