.table {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.table td,
.table th {
  height: 30px;
}

.table tr:nth-child(even) {
  background-color: var(--second-transparent-color);
}

.table th {
  background-color: var(--second-color);
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}
