.form {
  margin-top: 20px;
  width: 500px;
}

.form-control {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.form-control label {
  font-weight: bold;
}

.form-control input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  /* max-width: 100%; */
}

.form-control input:focus {
  border-color: #0ab2ea;
  background-color: #e3f7fb;
}

.control-group {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.form-actions button {
  font: inherit;
  background-color: #61c6e8;
  border: 1px solid #61c6e8;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
  background-color: #0ab2ea;
  border-color: #0ab2ea;
}

.invalid input,
.invalid .rich-text-input {
  border: 1px solid #e60808;
  background-color: #e3caca;
}

.invalid input:focus {
  border-color: #e87c01;
  background-color: #decfbe;
}

.error-text {
  color: #e60808;
}

.rich-text-input {
  height: 280px;
  width: 100%;
  border-radius: 5px;
}
